
html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    -webkit-font-smoothing: antialiased;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Allow only vertical resizing of textareas.
*/

textarea {
    resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

a {
    text-decoration: none;
    color: black;
}

/*header*/
.content {
    float: left;
    margin-top: -3px;
    padding: 0px;
    display: block;
    min-height: 0px;
    border-radius: 0px;
}

.logo {
    position: relative;
    left: 50%;
    /*margin-left: -106px;*/

}

body {
    margin: 0 auto;
    width: 80.5em;
    display: block;
}

header {
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 999;
}

.container {
    float: left;
    width: 100%;
    margin: 0 auto;
}

.header-container {
    width: 1350px;
    height: 80px;
    margin: 0 auto;
    padding-top: 40px;
    background-color: white;
}

.header-left {

    margin-left: 8px;
    margin-right: 8px;
    width: 100px;
    text-align: center;
}

.header-right {
    margin-left: 8px;
    margin-right: 100px;
    width: 680px;
    height: 40px;
    float: right;
    text-align: center;

}

.ainavi a.activeSlide {
    color: black;
    text-decoration: none;
    border-bottom: 4px solid #000;
}

.ainavi a {
    padding: 0px;
    padding-bottom: 2px;

}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.ainavi {
    font-family: 'Crimson Text', serif;
    font-weight: normal;
    font-size: 10.5px;
    line-height: 18px;
    padding-top: 4px;
    margin: 0px;
    color: black;
    text-align: justify;
    letter-spacing: 1px;
}

.header-container p:after, h1:after {
    content: "";
    display: inline-block;
    margin-top: 0px;
    padding: 0px;
    width: 100%;
}

/*1 page contents*/
.module {
    width: 100%;
    float: left;
    overflow: hidden;
    padding-top: 0px;
    padding-bottom: 16px;
    margin-bottom: 94px;
    position: relative;
}

.container1 {
    padding-top: 104px;
    padding-left: 20px;
    width: 610px;
    margin: 0 auto;

}

.container1_2 {
    padding-top: 135px;
    /*margin-left: 500px;*/
    width: 400px;
    margin: 0 auto;

}

.container1_3 {
    padding-top: 104px;
    padding-left: 20px;
    /*margin-left: 500px;*/
    width: 190px;
    margin: 0 auto;

}

.container2 {
    padding-top: 104px;
    padding-left: 20px;
    width: 190px;
    margin: 0 auto;

}

.container2_2 {
    padding-top: 140px;
    /*padding-left: 20px;*/
    width: 420px;
    margin: 0 auto;

}

.container2_3 {
    padding-top: 104px;
    /*padding-left: 20px;*/
    width: 420px;
    margin: 0 auto;

}

.container3 {
    padding-top: 104px;
    padding-left: 20px;
    width: 190px;
    margin: 0 auto;

}

.container3_2 {
    padding-top: 104px;
    /*padding-left: 20px;*/
    width: 420px;
    margin: 0 auto;

}

.container3_3 {
    padding-top: 104px;
    padding-left: 20px;
    width: 610px;
    margin: 0 auto;

}

.container4 {
    padding-top: 123px;
    padding-left: 20px;
    width: 190px;
    margin: 0 auto;

}

.container4_2 {
    padding-top: 104px;
    /*padding-left: 20px;*/
    width: 630px;
    margin: 0 auto;

}

.container4_3 {
    padding-left: 20px;
    width: 448px;
    margin: 0 auto;
    float: right;

}

.box {
    position: relative;
    float: left;

    /*height: 1000px;*/
}

.box1 {
    width: 100%;
}

.box1_3 {
    width: 590px;
}

.box1_4 {
    width: 630px;
}

.caption-00 {
    position: relative;
    /*float: right;*/
    margin-top: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    font-style: italic;
}

.caption-01 {
    position: relative;
    float: right;
    margin-top: 5px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    font-style: italic;
}

.caption-02 {
    position: relative;
    margin-top: 5px;
    width: 190px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    font-style: italic;
}

.caption-03 {
    position: relative;
    width: 190px;
    margin-top: 5px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    font-style: italic;
}

.caption-04 {
    position: relative;
    margin-top: 5px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    font-style: italic;

}

.caption-05 {
    position: relative;
    width: 400px;
    margin-top: 5px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    font-style: italic;

}

.caption-06 {
    position: relative;
    width: 400px;
    margin-top: 5px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    font-style: italic;

}

.moving_box {
    position: absolute;
}

.moving_box.fixed {
    position: fixed;
}

.moving_2.fixed {
    /*left: 235px;*/
    top: 140px;
}

.moving_3.fixed {
    /*left: 235px;*/
    top: 140px;
}

.moving_4.fixed {
    /*left: 235px;*/
    top: 140px;
}

.box2 {
    margin-left: 20px;
    width: 400px;
    color: #444444;
}

.box2_3 {
    width: 312px;
    margin-left: 590px;
}

.box3 {
    width: 190px;
    padding-left: 40px;
    /*float: left;*/
    color: #444444;
}

.box3 {
    width: 400px;
    padding-left: 20px;
    /*float: left;*/
    color: #444444;
}

.box4 {
    width: 400px;
    padding-left: 20px;
    /*float: left;*/
    color: #444444;
}

.video1 {
    margin-top: 115px;
    width: 100%;
    float: left;
}

.video2 {
    margin-top: 100px;
    width: 100%;
    float: left;
    margin-bottom: 100px;
}

.video3 {
    margin-top: 20px;
    width: 590px;
    float: left;
    margin-bottom: 100px;
}

.video4 {
    margin-top: 20px;
    width: 420px;
    float: right;
    margin-bottom: 100px;
}

/*이미지 왼쪽*/

.image1 {
    width: 420px;
    /*margin-left: 190px;*/
    margin-top: 130px;
}

.image1_2 {
    width: 190px;
    /*margin-left: 190px;*/
    margin-top: 770px;
}

.image2 {
    margin-top: 600px;
    /*margin-left: 158px;*/
    width: 280px;
    height: 547px;
}

.image3 {
    width: 400px;

}

.image4 {
    width: 190px;

}

.a {
    margin-bottom: 80px;
}

.image-box1 {
}

.image-box2 {
}

.image-box3 {
}

.image-box1_2 {
    margin-top: -333px;
}

.image-box01_2 {
    margin-top: 79px;
}

.image-box02_2 {
    margin-top: 2px;
}

.image-box03_2 {
    margin-top: 2px;
}

.image-box04_2 {
    margin-top: 2px;
}

.image-box05_2 {
    margin-top: 30px;
}

.image-box06_2 {
    margin-top: 2px;
}

.image-box07_2 {
    margin-top: 2px;
}

.image-box08_2 {
    margin-top: 2px;
}

.image-box2_2 {
    margin-top: 30px;
    /*text-align: justify;*/
}

.image-box3_2 {

}

.image-box4_2 {
}

.image-box0_3 {

}

.image-box1_3 {

}

.image-box2_3 {

}

.image-box3_3 {

}

.image-box4_3 {

}

.image-box1_4 {

}

.image-box2_4 {
    margin-left: 5px;
}

.image-box3_4 {

}

.image-box4_4 {
    margin-left: 5px;
}

.image-box5_4 {
    margin-top: 10px;
}
.image-box6_4 {
    margin-top: 10px;
}

/*text part*/

.title {

    width: 100%;
    height: 20px;
    font-family: 'Crimson Text', serif;
    font-size: 40px;

}

.txt {

    width: 100%;
    height: 200px;
}

.category {
    margin-top: 60px;
    height: 10px;
    font-family: 'Crimson Text', serif;
    font-size: 10px;
}

.txt-0 {

    width: 100%;
    height: 20px;
    font-family: 'Crimson Text', serif;
    font-size: 20px;
}

.txt-1 {
    margin-top: 20px;
    width: 100%;
    height: 160px;
    font-family: 'Roboto', sans-serif;
    font-size: 11.5px;
    line-height: 180%;
    text-align: justify;
}

/*이미지 오른쪽*/

.b {
    margin-top: 350px;
    width: 200px;
    /*height: 80px;*/
    /*background-color: green;*/
}

.image-box4 {
    /*margin-top: 200px;*/
}

.image-box5 {
    margin-top: 30px;
}

.image-box5_2 {
}

/*1page end*/

/*2page start*/

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}
