
html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    -webkit-font-smoothing: antialiased;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Allow only vertical resizing of textareas.
*/

textarea {
    resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}

.fade-in.one {
    -webkit-animation-delay: 0.7s;
    -moz-animation-delay: 0.7s;
    animation-delay: 0.7s;
}

.fade-in.two {
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay:1.2s;
    animation-delay: 1.2s;
}

.fade-in.three {
    -webkit-animation-delay: 1.6s;
    -moz-animation-delay: 1.6s;
    animation-delay: 1.6s;
}

a {
    text-decoration: none;
    color: #444444;
}

.button{
    padding: 25px;
}

/*header*/
.content {
    float: left;
    margin-top: -3px;
    padding: 0px;
    display: block;
    min-height: 0px;
    border-radius: 0px;
}

.logo {
    position: relative;
    left: 50%;
    /*margin-left: -106px;*/

}

body {
    margin: 0 auto;
    width: 100%;
    display: block;
}

header {
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 999;
}


.container {
    float: left;
    width: 100%;
    margin: 0 auto;
}

.header-container {
    width: 100%;
    height: 80px;
    margin: 0 auto;
    padding-top: 40px;
    background-color: rgb(256,256,256);
}

.header-left {

    margin-left: 8px;
    margin-right: 8px;
    width: 140px;
    text-align: center;
}

.header-right {
    margin-left: 8px;
    margin-right: 100px;
    width: 680px;
    height: 40px;
    float: right;
    text-align: center;

}

.ainavi a.activeSlide {
    color: #222222;
    text-decoration: none;
    border-bottom: 1px solid #f0f0f0;}


.ainavi a.activeSlide.hover {
    border-bottom: 4px solid #444444;
}

.ainavi a {
    padding: 0px;
    padding-bottom: 2px;

}

b {

}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.ainavi {
    font-family: 'Crimson Text', serif;
    font-weight: 500;
    font-size: 10.5px;
    line-height: 18px;
    padding-top: 4px;
    margin: 0px;
    color: black;
    text-align: justify;
    letter-spacing: 1px;
}

.header-container p:after, h1:after {
    content: "";
    display: inline-block;
    margin-top: 0px;
    padding: 0px;
    width: 100%;
}


.word{
    font-family: 'Crimson Text', serif;
    font-weight: 800;
    font-size: 34px;
    padding: 350px;
    color: #ffffff;
    text-align: center;
    letter-spacing: 0.1em;
}

/*1 page contents*/
.module {
    width:  80.5em;
    float: left;
    overflow: hidden;
    padding-top: 0px;
    padding-bottom: 16px;
    margin-bottom: 94px;
    position: relative;
}

.main{
    width:100%;
    margin-top: 80px;
    min-height: 760px;
    position: relative;
    background-image: url("../img/main.png");
    background-size: 100%;
    background-repeat: no-repeat;

}

.container0 {
    padding-left: 20px;
    padding-top: 104px;
    width: 610px;
    margin: 0 auto;

}

.container00 {
    padding-left: 20px;
    padding-top: 104px;
    width: 610px;
    margin: 0 auto;

}

.container1 {
    padding-top: 104px;
    padding-left: 20px;
    width: 610px;
    margin: 0 auto;

}

.container1_2 {
    padding-top: 135px;
    /*margin-left: 500px;*/
    width: 400px;
    margin: 0 auto;

}

.container1_3 {
    padding-top: 104px;
    padding-left: 20px;
    /*margin-left: 500px;*/
    width: 190px;
    margin: 0 auto;

}

.container2 {
    padding-top: 104px;
    padding-left: 20px;
    width: 190px;
    margin: 0 auto;

}

.container2_2 {
    padding-top: 140px;
    /*padding-left: 20px;*/
    width: 420px;
    margin: 0 auto;

}

.container2_3 {
    padding-top: 104px;
    /*padding-left: 20px;*/
    width: 420px;
    margin: 0 auto;

}

.container3 {
    padding-top: 104px;
    padding-left: 20px;
    width: 190px;
    margin: 0 auto;

}

.container3_2 {
    padding-top: 104px;
    /*padding-left: 20px;*/
    width: 420px;
    margin: 0 auto;

}

.container3_3 {
    padding-top: 104px;
    padding-left: 20px;
    width: 610px;
    margin: 0 auto;

}

.container4 {
    padding-top: 104px;
    padding-left: 20px;
    width: 400px;
    margin: 0 auto;

}

.container4_2 {
    padding-top: 140px;
    padding-bottom: 150px;
    padding-left: 20px;
    width: 610px;
    margin: 0 auto;

}

.container4_3 {
    padding-left: 20px;
    width: 190px;
    margin: 0 auto;

}

.container5 {
    /*padding-left: 20px;*/
    padding-top: 130px;
    width: 820px;
    margin: 0 auto;
    float: left;

}

.container5_2 {
    padding-left: 20px;
    width: 190px;
    margin: 0 auto;
    float: left;

}

.container5_3 {
    padding-top: 500px;
    padding-right: 27px;
    width: 190px;
    margin: 0 auto;
    float: right;

}

.container5_4 {
    padding-top: 20px;
    padding-left: 20px;
    width: 420px;
    margin: 0 auto;
    float: left;

}

.container6 {
    padding-top: 100px;
    /*padding-right: 27px;*/
    width: 610px;
    margin: 0 auto;
    float: left;

}

.container7 {
    padding-left: 20px;
    padding-top: 130px;
    width: 610px;
    margin: 0 auto;
    float: left;

}

.container77 {
    padding-left: 20px;
    padding-top: 130px;
    width: 610px;
    margin: 0 auto;
    float: left;

}

.container7_1 {
    padding-top: 130px;
    /*padding-right: 27px;*/
    width: 420px;
    margin: 0 auto;
    float: left;

}

.container7_2 {
    padding-top: 100px;
    /*padding-right: 27px;*/
    width: 190px;
    margin: 0 auto;
    float: left;

}

.container8_1 {
    padding-top: 100px;
    /*padding-right: 27px;*/
    width: 190px;
    margin: 0 auto;
    float: left;

}

.container8_2 {
    padding-top: 100px;
    /*padding-right: 27px;*/
    width: 420px;
    margin: 0 auto;
    float: left;

}

.container8_3 {
    padding-top: 100px;
    /*padding-right: 27px;*/
    width: 420px;
    margin: 0 auto;
    float: left;

}

.container99_0 {
    padding-top: 135px;
    padding-left: 20px;
    width: 400px;
    margin: 0 auto;

}
.container99 {
    padding-top: 110px;
    width: 420px;
    margin: 0 auto;
    float: left;
    text-align: center;

}

.container99_1 {
    padding-top: 200px;
    margin-bottom: 100px;
    padding-left: 20px;
    width: 420px;
    float: left;
    text-align: center;

}

.box {
    position: relative;
    float: left;

    /*height: 1000px;*/
}

.box0 {
    width: 100%;
}

.box1 {
    width: 100%;
}

.box1_3 {
    width: 590px;
}

.box1_4 {
    width: 610px;
}

.caption-00 {
    position: relative;
    float: right;
    margin-top: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    font-style: italic;
}

.caption-01 {
    position: relative;
    float: right;
    margin-top: 5px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    font-style: italic;
}

.caption-02 {
    position: relative;
    margin-top: 5px;
    width: 190px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    font-style: italic;
}

.caption-03 {
    position: relative;
    width: 190px;
    margin-top: 5px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    font-style: italic;
}

.caption-04 {
    position: relative;
    margin-top: 5px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    font-style: italic;

}

.caption-05 {
    position: relative;
    margin-top: 5px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    font-style: italic;

}

.caption-06 {
    position: relative;
    width: 400px;
    margin-top: 5px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    font-style: italic;

}

.caption-07 {
    float: right;
    position: relative;
    width: 420px;
    margin-top: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    font-style: italic;

}

.moving_box {
    position: absolute;
}

.moving_box.fixed {
    position: fixed;
}

.moving_1.fixed {
    /*left: 235px;*/
    top: 140px;
}

.moving_2.fixed {
    /*left: 235px;*/
    top: 140px;
}

.moving_3.fixed {
    /*left: 235px;*/
    top: 140px;
}

.moving_4.fixed {
    /*left: 235px;*/
    top: 120px;
}

.moving_5.fixed {
    /*left: 235px;*/
    top: 20px;
}

.moving_6.fixed {
    /*left: 235px;*/
    top: 140px;
}

.moving_7.fixed {
    /*left: 235px;*/
    top: 80px;
}

.moving_8.fixed {
   top: 20px;
}


.box2 {
    margin-left: 20px;
    width: 400px;
    color: #444444;
}

.box2_3 {
    width: 312px;
    margin-left: 590px;
}

.box3 {

    padding-left: 20px;
    color: #444444;
}

.box3_1 {
    width:400px;
    padding-left: 20px;
    color: #444444;
}

.box4 {
    width:400px;
    /*float: left;*/
    color: #444444;
}

.box5 {
    width: 190px;
    margin-top: 130px;
    padding-left: 20px;
    /*float: left;*/
    color: #444444;
}

.box6 {
    width: 590px;
    padding-left: 20px;
    float: left;
    color: #444444;
}

.box7 {
    width: 400px;
    margin-top:100px;
    padding-left: 20px;
    /*float: left;*/
    color: #444444;
}

.box8 {
    width: 610px;
    /*padding-left: 20px;*/
    /*float: left;*/
    color: #444444;
}

.box9 {
    width: 610px;
    padding-left: 20px;
    /*float: left;*/
    color: #444444;
}

.box99 {
    width: 400px;
    padding-left: 20px;
    color: #444444;
}

.box99_1 {
    /*padding-top: 100px;*/
    width: 400px;
    color: #444444;
}

.video1 {
    margin-top: 115px;
    width: 100%;
    float: left;
}

.video2 {
    margin-top: 100px;
    width: 100%;
    float: left;
    margin-bottom: 100px;
}

.video3 {
    margin-top: 20px;
    width: 590px;
    float: left;
    margin-bottom: 100px;
}

.video4 {
    margin-top: 20px;
    width: 610px;
    float: left;
    margin-bottom: 290px;
}

/*이미지 왼쪽*/


.image0 {
    width: 610px;
    margin-top: 130px;
}

.image1 {
    width: 420px;
    /*margin-left: 190px;*/
    margin-top: 130px;
}

.image1_2 {
    width: 190px;
    /*margin-left: 190px;*/
    margin-top: 770px;
}

.image8 {
    width: 190px;
    /*margin-left: 190px;*/
    margin-top: 450px;
}

.image2 {
    margin-top: 600px;
    /*margin-left: 158px;*/
    width: 280px;
    height: 547px;
}

.image3 {
    width: 400px;

}

.image4 {
    width: 190px;

}

.image5 {
    width: 610px;
    padding-left: 230px
}

.image5_1 {
    margin-top: 250px;
    width: 190px;
}

.image6 {
    width: 610px;
    padding-left: 20px;
}

.image7 {
    width: 610px;
}

.image7_1 {
    padding-left: 20px;
    width: 190px;
}

.image9 {
    width: 190px;
}

.image9_1 {
    padding: 20px;
    width: 190px;
}

.a {
    margin-bottom: 80px;
}


.image-box00_1 {
    margin-top: 79px;
}

.image-box0_0 {
}

.image-box1 {
    width: 420px;
    margin-top: 200px
}

.image-box2 {
    width: 420px;
}

.image-box3 {
    width: 420px;
}

.image-box1_2 {
    width: 190px;
    margin-top: -333px;
}

.image-box01_2 {
    width: 190px;
    margin-top: 79px;
}

.image-box02_2 {
    width: 190px;
    margin-top: 2px;
}

.image-box03_2 {
    width: 190px;
    margin-top: 2px;
}

.image-box04_2 {
    width: 190px;
    margin-top: 2px;
}

.image-box05_2 {
    width: 190px;
    margin-top: 30px;
}

.image-box06_2 {
    width: 190px;
    margin-top: 2px;
}

.image-box07_2 {
    width: 190px;
    margin-top: 2px;
}

.image-box08_2 {
    width: 190px;
    margin-top: 2px;
}

.image-box08_3 {
    width: 610px;
    margin-top: 10px;
}

.image-box2_1 {

    margin-top: 10px;
    /*text-align: justify;*/
}

.image-box2_2 {
    width: 400px;
    margin-top: 10px;
    /*text-align: justify;*/
}

.image-box3_2 {
   width:400px;
}

.image-box4_2 {
    width:400px;
}

.image-box0_3 {
    width: 400px;
}

.image-box1_3 {
    width: 400px;
}

.image-box2_3 {
    width: 400px;
}

.image-box3_3 {
    width: 400px;
}

.image-box4_3 {
    width: 400px;
}

.image-box1_4 {
   width: 610px;
}

.image-box1_5 {

}

.image-box2_4 {
    margin-top: 630px;
}

.image-box2_5 {
    margin-top: 40px;
}

.image-box3_4 {

}

.image-box4_4 {

}

.image-box5_4 {
    margin-top: 10px;
}

.image-box6_4 {
    margin-top: 10px;
}

.image-box7_4 {
    padding-top: 100px;
}

.image-box0_5 {
    width: 610px;
}

.image-box0_6 {
    width: 610px;
}

.image-box1_6 {

}

.image-box2_6 {

}

.image-box0_7 {
    width: 610px;
    padding-top: 30px;
}

.image-box0_8 {
    width: 190px;
    padding-top: 30px;
}

.image-box1_7 {
    width: 420px;
    padding-top: 30px;
    float: right;
}

.image-box2_7 {
    width: 420px;
    padding-top: 10px;
    float: right;
}

.image-box3_7 {
    width:610px;
    padding-top: 70px;
    float: right;
}

.image-box4_7 {
    padding-top: 300px;
    float: right;
}

.image-box5_7 {
    width: 190px;
    padding-top: 20px;
    float: right;
}

.image-box6_7 {
    width:190px;
    padding-top: 250px;
    float: right;
}

.image-box7_7 {
    width:190px;
    padding-top: 5px;
    float: right;
}

.image-box01_8 {
    width: 190px;
    margin-top: -70px;
}

.image-box02_8 {
    width: 190px;
    padding-top: 100px;
}

.image-box03_8 {
width: 610px;
}

.image-box01_9_0 {
    padding-top: 230px;
}

.image-box01_9_1 {
    padding-top: 50px;
}

.image-box01_9_2 {
    padding-top: 50px;
}

.image-box02_9 {
    padding-top: 100px;
}

.image-box03_9 {
    width: 610px;
}

.image-box00_99 {
    padding-top: 300px;
    float: left;
}

.image-box01_99 {
    padding-top: 100px;
    float: left;
}

.image-box02_99 {
    padding-top: 350px;
    padding-left: 20px;
    float: left;

}

.image-box03_99 {

    padding-left: 20px;
    float: left;

}

/*text part*/

.title {

    width: 100%;
    height: 20px;
    font-family: 'Crimson Text', serif;
    font-size: 40px;

}

.txt {
    width: 100%;

}

.category {
    margin-top: 60px;
    height: 65px;
    font-family: 'Crimson Text', serif;
    font-size: 11px;
    line-height: 70%;
}

.txt-00 {
    margin-top:-50px;
    width: 100%;
    height: 40px;
    font-family: 'Crimson Text', serif;
    font-size: 20px;
}

.txt-0 {
    margin-top:20px;
    width: 100%;
    height: 40px;
    font-family: 'Crimson Text', serif;
    font-size: 20px;
}

.txt-01 {
    margin-top: 20px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 11.5px;
    line-height: 180%;
    text-align: justify;
}

.txt-1 {
    width: 100%;
    margin-top:-8px;
    font-family: 'Roboto', sans-serif;
    font-size: 11.5px;
    line-height: 180%;
    text-align: justify;
}

.txt-2 {
    width: 100%;
    margin-top:-20px;
    font-family: 'Roboto', sans-serif;
    font-size: 11.5px;
    line-height: 180%;
    text-align: justify;
}

.txt-3 {
    width: 100%;
    margin-top:20px;
    font-family: 'Roboto', sans-serif;
    font-size: 11.5px;
    line-height: 180%;
    text-align: justify;
}

.txt-4 {
    margin-top: 10px;
    width: 100%;
    height: 160px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;

}


.txt-99 {
    width: 100%;
   margin-top:100px;
    font-family: 'Crimson Text', serif;
    font-size: 20px;
    /*text-align: justify;*/
}

.txt-99_1 {
    margin-top: 30px;
    height: 120px;
    font-family: 'Roboto', sans-serif;
    font-size: 11.5px;
    line-height: 180%;

}
.box_sns{
    margin-top: 130px;
}

.sns{
    float: left;
    width:100%;
    font-family: 'Crimson Text', serif;
    font-size: 20px;
    margin-bottom: 100px;

}

.sns_1 {
    line-height: 180%;
    font-family: 'Roboto', sans-serif;
    font-size: 11.5px;
    text-align: justify;
    margin-top:30px;
}

/*이미지 오른쪽*/



.image-box4 {
    width: 190px;
    padding-top:20px;
}

.image-box5 {
    margin-top: 30px;
}

.image-box5_2 {
}

/*1page end*/

/*2page start*/

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}
