
html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Allow only vertical resizing of textareas.
*/

textarea {
    resize: vertical;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

a {
    text-decoration: none;
}

/*header*/

.menu {
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    text-align: center;
    z-index: 1;
}

.logo {
    width: 80px;
    height: 40px;
}

.x-align-middle {
    display: inline-block;
}

.x-align-middle:before {
    width: 0;
    height: 100%;
    content: '';
    vertical-align: middle;
    display: inline-block;
    margin-left: -0.25em;
}

.x-align-block {
    display: inline-block;
    vertical-align: middle;
}

body {
    /*padding-top: 40px;*/
}

header {
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 999;
}

.header-container {
    width: 960px;
    height: 40px;
    margin: 0 auto;
    /*background-color: red;*/
}

.header-left {
    width: 150px;
    float: left;
    margin-left: 30px;
    text-align: center;
}

.header-right {
    float: right;
    height: 40px;
    margin-right: 30px;
}

.header-ul {
    text-align: right;
    margin-top: 7px;

}

.header-ul li {
    width: auto;
    margin-right: 5px;
    margin-left: 20px;
}

.header-ul li a {
    font-family: 'Roboto', sans-serif;
    font-size: 8px;
}


/*1 page contents*/

.container {
    padding-top: 60px;
    padding-left: 60px;
    width: 960px;
    margin: 0 auto;
}

.box {
    position: relative;
    float: left;
    height: 900px;
}

.box1 {
    width: 435px;
}

.caption-00 {
    position: relative;
    float: right;
    margin-top: 7px;
    font-family: 'Crimson Text', serif;
    font-size: 8px;
}

.caption-01 {
    position: relative;
    float: right;
    margin-top: 3px;
    font-family: 'Crimson Text', serif;
    font-size: 8px;
}

.caption-02 {
    position: relative;
    float: right;
    margin-top: 3px;
    font-family: 'Crimson Text', serif;
    font-size: 8px;
}

.caption-03 {
    position: relative;
    float: right;
    margin-top: 3px;
    font-family: 'Crimson Text', serif;
    font-size: 8px;
}

.caption-04 {
    position: relative;
    float: left;
    margin-top: 3px;
    font-family: 'Crimson Text', serif;
    font-size: 8px;
    text-align: justify;
}

.caption-05 {
    position: relative;
    float: left;
    margin-top: 3px;
    font-family: 'Crimson Text', serif;
    font-size: 8px;
    text-align: justify;
}

.box2 {
    width: 312px;
    margin-left: 435px;
    position: fixed;
}

.box3 {
    width: 156px;
    float: right;
}

.video1 {
    margin-top: 32px;
    width: 435px;
    /*height: 245px;*/
    /*background-color: yellow;*/
    float: left;
}

/*이미지 왼쪽*/

.image1 {
    margin-top: 600px;
    margin-left: 158px;
    width: 280px;
    height: 547px;
}

.a {
    margin-bottom: 40px;
    width: 280px;
    height: 158px;
    /*background-color: yellow;*/
}

.image-box1 {}
.image-box2 {}
.image-box3 {}


/*text part*/

.title {
    margin-left: 30px;
    width: 195px;
    height: 20px;
    font-family: 'Crimson Text', serif;
    font-size: 28px;
}

.txt {
    margin-left: 30px;
    width: 155px;
    height: 200px;
}

.category {
    margin-top: 40px;
    height: 10px;
    font-family: 'Crimson Text', serif;
    font-size: 8px;
}

.txt-0 {

    width: 300px;
    height: 20px;
    font-family: 'Crimson Text', serif;
    font-size: 18px;
}

.txt-1 {
    margin-top: 20px;
    width: 312px;
    height: 160px;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    line-height: 150%;
    text-align: justify;
}

/*이미지 오른쪽*/

.box3 {
    margin-left: 30px;
}

.b {
    margin-top: 298px;
    width: 125px;
    height: 161px;
    /*background-color: green;*/
}

.image-box4 {
    /*margin-top: 200px;*/
}

.image-box5 {
    margin-top: 30px;
}

/*1page end*/




.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}
